# ALICI production example variables
# Copy to terraform.tfvars and adjust for your AWS account.

project_name         = "alici"
environment          = "prod"
aws_region           = "us-east-1"

vpc_cidr             = "10.20.0.0/16"
public_subnet_cidrs  = ["10.20.1.0/24", "10.20.2.0/24"]
private_subnet_cidrs = ["10.20.11.0/24", "10.20.12.0/24"]

db_instance_class    = "db.r6g.large"
redis_node_type      = "cache.r6g.large"

k8s_desired_nodes    = 3
